@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe UI, "Poppins", sans-serif;
}

#app {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    #00a884 17%,
    #111b21 17%,
    #111b21 100% /* white 17%, */ /* white 100% */
  );
  /* background-color: #111b21; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 92px;
}

#main-container {
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

#wrapper {
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 17px 50px 0 rgba(11, 20, 26, 0.19),
    0 12px 15px 0 rgba(11, 20, 26, 0.24);
}

/* GREEN-BG */
.green-bg {
  width: 100%;
  background-color: #00a884;
  position: absolute;
  height: 222px;
  top: 0;
  left: 0;
}
/* HEADER - WA logo */
header {
  margin: 27px auto 28px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.wa-logo {
  height: 39px;
}

header h1 {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  margin-left: 14px;
}

#main {
  display: flex;
  flex-direction: column;
  padding: 32px 60px 60px;
}

/* PC - download */
#pc-download {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d1d7db;
  border-radius: 6px;
  padding: 24px 40px;
  margin-inline: 30px;
  margin-bottom: 30px;
}

#pc-download svg {
  margin-top: 6px;
}

.pc-download-content {
  display: flex;
  flex-direction: column;
  padding-inline: 24px;
  font-size: 0.875rem;
}

.pc-download-content h3 {
  color: #111b21;
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.2;
}

.pc-download-content p {
  color: #54656f;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pc-download-btn {
  background-color: #008069;
  color: #fff;
  padding: 10px 24px;
  border-radius: 24px;
  border: none;
  font-size: 0.875rem;
  line-height: 1.25;
  font-weight: 400;
}

/* Steps w/ QR */

.steps-qr {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(134, 150, 160, 0.3);
}
.steps-to-take {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.steps-to-take h2 {
  font-size: 28px;
  font-weight: 300;
  line-height: normal;
  color: #41525d;
  margin-bottom: 24px;
}

.steps-to-take ol {
  list-style-type: decimal;
  padding-left: 24px;
}

.steps-to-take ol li {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #3b4a54;
  margin-top: 18px;
}

.steps-to-take ol li svg {
  vertical-align: top;
}

.qr-container {
  margin-left: 60px;
  width: 264px;
  height: 264px;
  background-image: url("./canvas.png");
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Link phone number */
.link-phone {
  margin-top: 24px;
}
.link-phone a {
  color: #008069;
  text-decoration: none;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
}

/* Video section */

#vid-section,
.tutorial-vid-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#vid-section {
  padding: 40px 60px;
}
.tutorial-vid-content h2 {
  font-size: 28px;
  font-weight: 300;
  line-height: normal;
  color: #41525d;
  margin-bottom: 16px;
}
.tutorial-vid-content p {
  font-size: 14px;
  margin-bottom: 48px;
}
.tutorial-vid-content p a {
  color: #008069;
  text-decoration: none;
}

.vid-container,
.play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vid-container {
  height: 314px;
  width: 560px;
  background-image: url("./vid-img.png");
}

.play-btn {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: rgba(11, 20, 26, 0.45);
}

.play-btn svg {
  margin-left: 5px;
}
