* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", Arial;
}

/* HEADER */
header {
  padding: 0 40px;
}

/* top bar links */
.top-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 32px;
  list-style: none;
}
.top-link-item {
  padding: 0 10px;
}
.top-link-item a {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}

/* navbar */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-center-right,
.nav-links,
.nav-right-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links {
  margin: 0 10px;
  height: 47px;
  list-style: none;
}
.nav-link-item {
  color: #000;
  border-color: #000;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link-item:last-child {
  color: #e32b2b;
  border-color: #e32b2b;
}
.nav-link-item:hover {
  border-bottom: 3px solid;
}
.nav-link-item > a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 0 10px;
  letter-spacing: 1.87px;
}

.nav-link-item .bold {
  font-weight: 700;
}

.logo-container img {
  width: 60px;
  margin-top: -10px;
}
.search-icon svg,
.user-icon svg,
.wishlist-icon svg,
.cart-icon svg {
  display: block;
  width: 18px;
  height: 18px;
}

.search-container {
  position: relative;
}
.search-input {
  border: solid thin #eceff1;
  background-color: #eceff1;
  height: 32px;
  max-width: 230px;
  padding: 0 35px 0 10px;
  font-size: 14px;
  line-height: 20px;
  z-index: 1;
}
.search-icon {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon-container {
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-badge {
  position: absolute;
  top: 0;
  left: 50%;
  width: 22px;
  height: 22px;
  background-color: #ffd200;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  animation: jiggle-badge 3s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

@keyframes jiggle-badge {
  0%,
  9%,
  18% {
    transform: translateY(0);
  }
  2% {
    transform: translateY(-10px);
  }
  3% {
    transform: translateY(-3px);
  }
  5% {
    transform: translateY(-8px);
  }
  7% {
    transform: translateY(-2px);
  }
  11% {
    transform: translateY(-10px);
  }
  12% {
    transform: translateY(-3px);
  }
  14% {
    transform: translateY(-8px);
  }
  16% {
    transform: translateY(-2px);
  }
}

.wishlist-icon,
.cart-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.nav-center-right {
  gap: 70px;
}

/* LANDING SECTION */

.landing-section {
  width: 100%;
  max-height: 100vh;
  position: relative;
}

.landing-img-container {
  height: 100%;
}
.landing-img-container img {
  width: 100%;
  height: 100%;
  display: block;
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  padding: 40px 0 60px;
  margin: 0 64px;
}
.landing-title-container {
  margin-bottom: 20px;
}
.landing-title {
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.landing-subtitle {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

/* black button */
.black-btn-block {
  border: 1px solid #000;
  background: transparent;
  color: #ffffff;
  fill: #fff;
  transition: all 0.3s linear;
}
.black-btn-block:hover {
  color: rgba(255, 255, 255, 0.5);
  fill: rgba(255, 255, 255, 0.5);
}

.black-btn-block a {
  color: inherit;
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #000;
  /* border-color: #000; */
  height: 50px;
  padding: 0 15px;
  transform: translate(-3px, -3px);
}

.btn-txt {
  color: inherit;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
}
.btn-arr {
  margin-left: 15px;
}
.btn-arr svg {
  fill: inherit;
  width: 24px;
  height: 24px;
  display: block;
}

/* OFFER section */
.offer-section {
  width: 100%;
  max-height: 100vh;
  position: relative;
  margin-bottom: 140px;
}

.offer-img-container {
  height: 100%;
}
.offer-img-container img {
  width: 100%;
  height: 100%;
  display: block;
}
.offer-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  padding: 40px 0 60px;
  margin: 0 64px;
}
.offer-title-container {
  margin-bottom: 20px;
}
.offer-title {
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.offer-subtitle {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.offer-btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.offer-btn a {
  transform: translate(0px, 0px);
  height: auto;
  padding: 10px 15px;
}
.offer-btn a::after,
.offer-btn a::before {
  display: none;
}

/* DEALS section */
.deals-section {
  margin-bottom: 80px;
}

.section-title {
  margin: 5px 60px 45px;
  padding: 0 4px;

  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  line-height: 32px;
}
/* .deals-container {
  overflow: auto;
  scrollbar-width: none;
} */
.deals-slider {
  scrollbar-width: none;
  overflow-x: auto;
  display: flex;
  /* width: max-content; */
  /* making sure parent container takes complete width, so that width calculation can be applied on childs, in order to make them scroll */
  width: 100%;
  padding: 0 64px;
}
.deal-card {
  /* width: 310px; */
  /* will dynamically set the card width */
  width: calc((100% - 40px) / 4);
  margin-right: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  /* to prevent card from shrink */
  flex-shrink: 0;
}
.deal-img-container {
  margin-right: 10px;
}

.deal-img-container img {
  width: 100%;
  height: 100%;
  display: block;
}

.deal-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  flex: 1 1;
}
.deal-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
.shop-now-btn-container {
  flex: 1 1;
  display: flex;
  align-items: flex-end;
}
.shop-now-btn {
  margin-top: 17px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #000;
  transition: all 0.3s linear;
}
.shop-now-btn:hover {
  background-color: #000;
  color: #fff;
}
.shop-now-btn .btn-txt {
  border-bottom: 2px solid #000;
  color: inherit;

  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
}

/* HOT section */

.deal-img-container video {
  width: 100%;
  height: 100%;
  display: block;
}
.hot-para {
  padding-top: 0;
  font-size: 12.5px;
  line-height: 17px;
  white-space: normal;
}

/* ABOUT section */
.about-section {
  background: #f5f5e5;
}
.about-container {
  padding: 40px 4px;
  margin: 0 60px;

  display: flex;
  gap: 40px;
}

.about-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 10px;
}
.about-para {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1px;
}

/* FOOTER */
.yellow-block {
  padding: 40px;
  background-color: #ede734;
  text-align: center;
}
.yellow-title {
  display: inline-block;
  vertical-align: middle;
  margin: 0 40px 15px 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* footer links */
.parent-list {
  display: flex;
  flex-direction: row;
  max-width: 1010px;
  margin: 0 auto;
  padding: 20px 0 0;
  list-style: none;
}

.parent-list > li {
  padding: 20px 15px 30px;
  flex-basis: 100%;
}
.parent-list > li > h5 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.child-list {
  list-style: none;
}

.child-list > li > a {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: 24px;
  white-space: nowrap;
  display: inline-block;
}

.child-list > li > a:hover {
  text-decoration: underline;
}

.child-list > li > a > img {
  height: auto;
  display: block;
}

/* lower footer */
.lower-footer {
  border-top: 1px solid #767677;
  background-color: #282c31;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lower-footer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1010px;
  margin: 0 auto;
  text-align: center;
  list-style: none;
}
.lower-footer-list > li {
  margin: 15px 0;
  padding: 0 15px;
  display: inline-block;
  color: #d3d7da;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  border-right: 1px solid #d3d7da;
}
.lower-footer-list > li:last-child {
  border: none;
}
.lower-footer-list > li > a {
  color: inherit;
  text-decoration: none;
}

.lower-footer-para {
  text-align: center;
  padding: 20px 15px 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  max-width: 1010px;
  color: #d3d7da;
}
